body {
        
    background-color: rgb(0, 0, 0);
    background-size: 1800px 1000px;
    background-position: 50% 10%;
    background-repeat: no-repeat;
    background-clip: content-box
}
h1 {

color:#d31010}
p {
color:rgb(18, 245, 226);

}
